.Modal-content {
	min-width: 420px;
	border-radius: 0.25rem;
	border: 1px solid rgb(129 140 248 / 0.75);
	background-color: rgba(64, 63, 73, 0.25);
	color: #fefce8;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(40px);
}

.Modal-overlay {
	animation: Modal-overlay-enter 1500ms cubic-bezier(0.075, 0.82, 0.165, 1)
		forwards;
}

@keyframes Modal-overlay-enter {
	0% {
		backdrop-filter: blur(15px);
		background-color: rgb(0 0 0 / 0);
	}
	100% {
		backdrop-filter: blur(24px);
		background-color: rgb(0 0 0 / 0.25);
	}
}
