.DropdownMenu-content {
	@apply min-w-[220px] rounded-md border border-indigo-200 bg-[#403f49]/25 p-2 text-[#FEFCE8] shadow-2xl backdrop-blur-xl;
}

.DropdownMenu-item {
	@apply cursor-pointer rounded p-2 pl-6 text-xs;
	outline: none;
}

.DropdownMenu-item[data-highlighted] {
	@apply bg-indigo-500;
}

.DropdownMenu-item[data-state="open"] {
	@apply bg-indigo-500/25;
}

.underline-link {
	position: relative;
	padding-right: 0.5ch;
}
.underline-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: rgb(165, 180, 252);
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: left;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.underline-link:hover:before {
	visibility: visible;
	transform: scaleX(1);
}
