.ToastRoot[data-state="open"] {
	animation: slideIn 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ToastRoot[data-state="closed"] {
	animation: hide 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ToastRoot[data-swipe="move"] {
	transform: translateY(var(--radix-toast-swipe-move-y));
}

.ToastRoot[data-swipe="cancel"] {
	transform: translateY(0);
	transition: transform 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ToastRoot[data-swipe="end"] {
	animation: swipeOut 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes slideIn {
	from {
		transform: translateY(5%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}
